# datos (cada uno los descarga)
data/raw/*
data/processed/*
!data/**/.gitkeep
!data/sample/*
!data/sample/**

# Archivos pesados / binarios de datos crudos
*.zip
*.vcf
*.gz
*.tbi
*.parquet

# modelos pesados
*.pkl
*.pt
*.h5

# entorno y basura
.venv/
__pycache__/
.ipynb_checkpoints/
.env
.DS_Store
Thumbs.db
